@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

strong {
    color: aqua;
}

main {    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 0, 0);
}

section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 540px;
}

section.apresentacao {
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 90vw;

}

div {
    text-align: left;
    font-weight: bold;
}

div h1 {    
    padding-top: 10vw;
    font-size: 35px;
    
    
}

div p {   
    font-size: 1.3em;
    margin-top: 30px;
    
}

div h2 {
    text-align: center;
    padding: 20px 0px 30px 0px;
    padding-bottom: 30px;
}

div.botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.botoes a {
    display: flex;
    padding: 20px;
    border: 2px solid aqua;
    color: aqua;
    text-decoration: none;    
    font-size: 24px;
    width: 140px;
    
}

div img {
    width: 30px;
    border-radius: 50%;

}

div.foto {
    background-color: rgb(253, 0, 241);
    border-radius: 0px 10px 10px 0px;
    width: 470px;
    height: 540px;
}

iframe#tela {
    position: relative;
    top: -1px;
    width: 466px;
    height: 538px;
}